.cartWidget {

    height: 10vh;
    width: 12vh;
    margin-left: 300px;
    margin-right: 10vh;
    
    .cart_icon {

        max-width: 80%;
        max-height: 80%;

    }

    span {

        margin-left: 10px;
        font-size: calc(10px + 2vmin);
        font-weight: bold;
        color: wheat;

    }


}

