.navTop {

    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;


    div.div_logo {

        margin-right: 300px;
        margin-left: 10vh;
        max-height: 10vh;
        max-width: 7vh;

        .home_button {

            max-width: 100%;
            max-height: 100%;

        }

    }


    .navList {

        display: flex;
        justify-content: center;

        .nav_buttons {

            border-right: 0.5px solid wheat;
            border-left: 0.5px solid wheat;
            padding-left: 10px;
            padding-right: 10px;
            font-size: calc(6px + 2vmin);
            color: wheat;
            background-color: black;
            margin-left: 8px;
            margin-right: 8px;
            
            &:hover {

                color: black;
                background-color: wheat;

            }
    
        }

    }  

    div {

        align-items: center;
        display: flex;

    }

    

}